@* Dùng ViewBag để truyền dữ liệu tiền và số lượng *@
<div class="cart box_1" id="divGioHang">
    <a href="@Url.Action("XemGioHang", "GioHang")">
        <h3>
            <div class="total">
                @ViewBag.TongTien.ToString("#,##") (<span>@ViewBag.TongSoLuong</span> sp)
            </div>
            <img src="/Content/images/cart.png" alt="" />
        </h3>
    </a>
    <p><a href="@Url.Action("XemGioHang", "GioHang")" class="simpleCart_empty">Giỏ Hàng</a></p>
</div>
