<div class="cart box_1">
    <a href="@Url.Action("XemGioHang", "GioHang")">
        <h3>
            <div class="total">
                0 VNĐ <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
            </div>
            <img src="images/cart.png" alt="" />
        </h3>
    </a>
    <p><a href="@Url.Action("XemGioHang", "GioHang")" class="simpleCart_empty">Giỏ Hàng</a></p>
</div>
