
@{
    ViewBag.Title = "DemoAjax";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@*Loading ajax with actionLink*@
@*@Ajax.ActionLink("Load Ajax MVC", "LoadAjaxActionLink", new AjaxOptions{HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace, LoadingElementId = "divLoading"})*@


@*Load ajax with BeginForm*@
@*@using (Ajax.BeginForm("LoadAjaxBeginForm", new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace}))
    {
        <input name="txt1"/>
        <input type="submit" value="Submit"/>
    }*@

@*<input type="button" id="button" value="Submit Ajax Jquery"/>

    <div id="divLoading" style="display: none;">
        <img src="~/content/images/19.gif" />
    </div>

    <input id="txt1"/>
    <input id="txt2"/>
    <div id="KetQua" style="height: 150px;">
        Kết quả load ajax
        <br/>
    </div>*@

@*<script>
        $("#button").click(function () {
            var thamso1 = $("#txt1").val();
            var thamso2 = $("#txt2").val();
            $('#divLoading').show();
            $.ajax({
                type: 'GET',
                data: { a: thamso1, b: thamso2 },
                url: '@Url.Content("LoadAjaxJquery")',
                success: function (ketqua) {
                    $('#divLoading').hide();
                    $('#KetQua').html(ketqua);
                }
            })
        })
    </script>*@

@Ajax.ActionLink("Danh sách sản phẩm", "LoadSanPham", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace, LoadingElementId = "divLoading" })
<div class="container">
    <div class="content-top">
        <div id="KetQua" style="height:150px">
            Hiển thị sản phẩm ở đây
            <br />
        </div>
    </div>
</div>
<div id="divLoading" style="height:10px;display:none">
    <img src="~/Content/images/19.gif" />
</div>